.barra{  /* Agrega margen a los elementos de correo y teléfono */
    padding: 1rem;
}

@media (max-width:767px){ /* cambia el margen para pantallas pequeñas de los elementos correo y teléfono */
    .barra{  
        padding: 0.8rem;
    }
}

.color-navbar{  /* establece el color inicial del navbar */
    background-color: rgb(101, 187, 14);
    transition: all 1s ease;
}

.color-2-navbar{ /* establece el color secundario del navbar para cuando se hace scroll */
    background-color: rgb(44, 46, 42);
    
}

.barra-navegacion{ /* ubica los links del navbar a la derecha de la pantalla */
    flex-direction: row-reverse;
}

@media (min-width:768px){   /* ubica la imagen de cabecera para pantallas medianas a grandes */
    .contenedor-inicio{
        height: 100vh;
        max-height: 100vh;
        background-image: url('../images/cabecera.png');
        background-size: cover;
        background-position: center;
    }
}

.contenedor-derecho-inicio{  /* aplica estilos a la imagen del lado derecho de la pantalla inicial */
    padding-top: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../images/info-transp-2.png');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    height: 90vh;
    max-height: 100vh;
}

.contenedor-carrusel, .contenedor-facebook{   /* permite central verticalmente el carrusel y plugin de facebook */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuerpo-carrusel{  /* otorga un borde al cuerpo del carrusel */
    border: 2px solid chartreuse;
    padding: 1rem;
}

.contenedor-facebook{ /* otorga borde al contenedor de facebook */
    border: 1px solid chartreuse;
}

.card{  /* agrega borde al cuadro de las fotos */
    border: 2px solid chartreuse;
}

.card-body{ /* agrega fondo verde y color blanco al contenedor al pie de las fotos */
    background-color: rgb(101, 187, 14);
    color: white;
}

.card-par{  /* establece un color diferente para las fotos intercaladas */
    background-color: rgb(44, 46, 42);
    color: white;
}

.foto-conocenos{  /* establece tamaño para las fotos y las centra */
    height: 300px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
 
.contenedor-formulario{  /* Permite centrar el formulario */
    display: flex;
    justify-content: center;
}

.form-control{ /* da estilo a los bordes de los contenedores de los formularios y establece el alto de los campos */
    border: 2px solid chartreuse;
    height: 50px;
}

.btn-primary{ /* asigna color al boton enviar, el cambio de color con hover se hace en el archivo bootstrap.css */
    background-color: rgb(44, 46, 42);
    border: rgb(44, 46, 42);
}

#contacto{  /* establece una imágen de fondo fija al área de contacto */
    padding-top: 4rem;
    padding-bottom: 3rem;
    background: url('../images/imagen-pie.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-footer{  /* establece color de fondo al footer */
    padding-top: 2rem;
    padding-bottom: 0;
    border-top: 10px solid rgb(101, 187, 14);
    background-color: rgb(122, 230, 14);
    color: white;
}

#btn-facebook{  /* establece colores al boton de facebook */
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}

.me-gusta{  /* centra el contenedor de me gusta, se debe ajustar un margen intrínseco que tiene por defecto */
    display: block;
    margin: auto;
}

.contenedor-me-gusta{  /* centra el contenedor de facebook en la columna dado q es un contenedor con un margen intrínseco debe ser corregido con el padding */
    padding-left: 0.9rem;
}

.contenedor-calendario{ /* centra la imágen del calendario en la página */
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

@media(min-width:576px) and (max-width:767px){  /* Se oculta la barra para de teléfono para una resolución sm pues ocupa mucho espacio */
    .container-barra{
        display: none;
    }
}